<!---------------------------------------------------------------------------->
<!--                            Login/Signup Page                            -->
<!---------------------------------------------------------------------------->

<div class="box">
    <h2 class="card-header is-size-4 m-2">Existing users login here</h2>
    <div id="login" class="field columns m-2">
        <div class="column">
            <label for="username-login" class="label">Username or email:</label>
            <input type="text" id="username-login" class="input is-primary"/>
            <button class="button m-1 is-primary">login</button>
        </div>

        <div class="column">
            <label for="password-login" class="label">Password:</label>
            <input type="password" id="password-login" class="input is-primary"/>
        </div>
    </div>
</div>

<div class="box">
    <h2 class="card-header is-size-4 m-2">New users sign up below</h2>
    <div id="signup" class="field columns m-2">
        <div class="column">
            <label for="username-signup" class="label">Username:</label>
            <input type="text" id="username-signup" class="input is-primary"/>
            <button class="button m-1 is-primary">Sign Up</button>
        </div>

        <div class="column">
            <label for="email-signup" class="label">Email:</label>
            <input type="text" id="email-signup" class="input is-primary"/>
        </div>

        <div class="column">
            <label for="password-signup" class="label">Password:</label>
            <input type="password" id="password-signup" class="input is-primary"/>
        </div>
    </div>
</div>

<script src="./js/login.js"></script>
